{% extends 'base.html' %} {% block content %}
<div class="d-flex flex-column mx-auto gap-3" style="max-width: 768px">
  <div class="mb-5">
    <h2>{{ subject.title }} 수업신청</h2>
    <p>
      신청을 완료하시면
      <br />
      메일을 통해 수업 기획안과 견적서를 발송해드립니다.
    </p>
  </div>

  <form id="apply-form" method="post" action="">
    {% csrf_token %}
    <input type="hidden" name="subject_id" value="{{ subject.id }}" />
    <input type="hidden" name="subject_title" value="{{ subject.title }}" />
    <div class="row">
      <div class="col-sm-6 col-12">
        <p for="name">프로그램 운영 지역</p>
      </div>
      <div class="col-sm-6 col-12">
        <select class="form-select mb-3 required" name="region">
          <option value="" selected>선택해주세요</option>
          <option value="수도권">수도권</option>
          <option value="대전충청">대전충청</option>
          <option value="춘천">춘천</option>
        </select>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6 col-12">
        <p>수업 형태</p>
      </div>
      <div class="col-sm-6 col-12 d-flex gap-3">
        <div class="form-check">
          <input
            class="form-check-input mb-3"
            type="radio"
            name="frequency_type"
            id="once"
            value="once"
            checked
          />
          <label class="form-check-label" for="once">1회/캠프</label>
        </div>
        <div class="form-check">
          <input
            class="form-check-input mb-3"
            type="radio"
            name="frequency_type"
            id="multiple"
            value="multiple"
          />
          <label class="form-check-label" for="multiple"> 다회 </label>
        </div>
      </div>
    </div>

    <div class="row" style="display: none" id="frequency-container">
      <div class="col-sm-6 col-12">
        <p for="name">수업 횟수</p>
      </div>
      <div class="col-sm-6 col-12">
        <select
          class="form-select mb-3"
          id="frequency_count"
          name="frequency_count"
        >
          <option value="1" selected>선택해주세요</option>
          <option value="2">2회</option>
          <option value="3">3회</option>
          <option value="4">4회</option>
          <option value="5">5회 이상</option>
        </select>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6 col-12">
        <p>학급 수</p>
      </div>
      <div class="col-sm-6 col-12">
        <select class="form-select mb-3 required" name="class_count">
          <option value="" selected>선택해주세요</option>
          <option value="1">1학급</option>
          <option value="2">2학급</option>
          <option value="3">3학급</option>
          <option value="4">4학급</option>
          <option value="5">5학급 이상</option>
        </select>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6 col-12">
        <p for="name">신청자</p>
      </div>
      <div class="col-sm-6 col-12">
        <input
          type="text"
          class="form-control mb-3 required"
          id="name"
          name="name"
        />
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6 col-12">
        <p for="email">이메일</p>
      </div>
      <div class="col">
        <input type="text" class="form-control mb-3 required" name="email_id" />
      </div>
      <div class="col-auto mb-3 px-0 pt-2">@</div>
      <div class="col">
        <input
          type="text"
          class="form-control mb-3"
          id="direct_domain"
          name="direct_domain"
          disabled
          style="display: none"
        />
        <select
          class="form-select mb-3 required"
          id="email_domain"
          name="email_domain"
        >
          <option value="" selected>선택해주세요</option>
          <option value="naver.com">naver.com</option>
          <option value="gmail.com">gmail.com</option>
          <option value="daum.net">daum.net</option>
          <option value="hanmail.net">hanmail.net</option>
          <option value="direct">직접입력</option>
        </select>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6 col-12">
        <p for="phone">휴대폰 번호</p>
      </div>
      <div class="col">
        <input
          type="text"
          class="form-control mb-3 phone required"
          id="phone1"
          name="phone1"
          value="010"
          maxlength="3"
          inputmode="numeric"
        />
      </div>
      <div class="col-auto mb-3 px-0 pt-2">-</div>
      <div class="col">
        <input
          type="text"
          class="form-control mb-3 phone required"
          id="phone2"
          name="phone2"
          maxlength="4"
          inputmode="numeric"
        />
      </div>
      <div class="col-auto mb-3 px-0 pt-2">-</div>
      <div class="col">
        <input
          type="text"
          class="form-control mb-3 phone required"
          id="phone3"
          name="phone3"
          maxlength="4"
          inputmode="numeric"
        />
      </div>
    </div>

    <div class="d-flex justify-content-center mt-5">
      <button type="submit" class="btn btn-primary" id="apply-btn" disabled>
        <span class="text-white" id="btn-text">신청하기</span>
        <span
          class="text-white spinner-border spinner-border-sm"
          id="btn-spinner"
          style="display: none"
        ></span>
      </button>
    </div>
  </form>
</div>

<script>
  $("input[name='frequency_type']").on("change", (e) => {
    const selectedValue = $(e.target).attr("id");

    if (selectedValue == "multiple") {
      $("#frequency-container").css("display", "flex");
    } else {
      $("#frequency_count").val("1");
      $("#frequency-container").css("display", "none");
    }
  });

  $("#email_domain").on("change", (e) => {
    const selectedDomain = e.target.value;

    if (selectedDomain == "direct") {
      $("#direct_domain").prop("disabled", false);
      $("#direct_domain").css("display", "block");
      $("#direct_domain").val("").focus();
    } else {
      $("#direct_domain").prop("disabled", true);
      $("#direct_domain").css("display", "none");
    }
  });

  $(".phone").on("input", (e) => {
    e.target.value = e.target.value.replace(/[^0-9]/g, "");
  });

  $("input, select").on("input change", () => {
    let disabled = false;

    $(".required").each((index, element) => {
      if ($(element).val().trim() == "") {
        disabled = true;
        return;
      }
    });

    if ($("#multiple").is(":checked") && $("#frequency_count").val() == "1") {
      disabled = true;
    }

    if (
      $("#email_domain").val() == "direct" &&
      $("#direct_domain").val().trim() == ""
    ) {
      disabled = true;
    }

    $("#apply-btn").prop("disabled", disabled);
  });

  $("#apply-form").on("submit", (e) => {
    $("#apply-btn").prop("disabled", true);
    $("#btn-text").hide();
    $("#btn-spinner").show();
  });
</script>

{% endblock %}
