{% extends 'base.html' %} {% block content %}
<div class="d-flex flex-column gap-5">
  <div class="d-flex justify-content-between align-items-start">
    <div>
      <h2>{{ subject.title }}</h2>
      <p class="fs-5 text-muted">{{ subject.content }}</p>
    </div>
    <img
      class="img-fluid"
      src="/uploads/subjects/subject_{{ subject.id }}_img.jpg"
      alt="{{ subject.title }}"
    />
  </div>

  <div>
    <h3>교육목표</h3>
    <p class="fs-5 text-muted">{{ subject.objective }}</p>
  </div>

  <div>
    <h3>추천대상</h3>
    <p class="fs-5 text-muted">{{ subject.audience }}</p>
  </div>

  <div>
    <h3>수업 커리큘럼</h3>
    <table class="table">
      <thead class="table-light">
        <tr>
          <th scope="col">교시</th>
          <th scope="col">주제</th>
          <th scope="col">활동</th>
          <th scople="col">내용</th>
        </tr>
      </thead>
      <tbody>
        {% for item in curriculums %}
        <tr>
          <td>{{ item.period }}</td>
          <td>{{ item.topic }}</td>
          <td class="text-muted">{{ item.task }}</td>
          <td class="text-muted">{{ item.content }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <div class="d-flex justify-content-center">
    <a
      href="{% url 'subjects:apply' subject.id %}"
      class="btn btn-primary btn-lg"
      >수업신청</a
    >
  </div>
</div>
{% endblock %}
