{% extends 'base.html' %} {% block content %}
<div class="d-flex flex-column gap-5">
  <div class="d-flex justify-content-between align-items-start">
    <div>
      <h2>수업신청내역</h2>
      <p class="fs-5 text-muted">test</p>
    </div>
  </div>

  <div>
    <table class="table table-hover">
      <thead class="table-light">
        <tr>
          <th scope="col">신청수업</th>
          <th scope="col">운영 지역</th>
          <th scope="col">수업 형태</th>
          <th scope="col">수업 횟수</th>
          <th scope="col">학급 수</th>
          <th scope="col">신청자</th>
          <th scope="col">이메일</th>
          <th scope="col">휴대폰 번호</th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>
  </div>

  <div class="d-flex justify-content-end">
    <button class="btn btn-success" id="add">추가</button>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="detail" data-id="" data-method="">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">신청내역 상세</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
        ></button>
      </div>
      <div class="modal-body">
        <input type="hidden" name="subject_id" value="" />
        <input type="hidden" name="subject_title" value="" />
        <div class="row">
          <div class="col-lg-6 col-12">
            <p for="name">신청 수업</p>
          </div>
          <div class="col-lg-6 col-12">
            <select class="form-select mb-3 required" name="subject">
              <option value="" selected>선택해주세요</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 col-12">
            <p for="name">프로그램 운영 지역</p>
          </div>
          <div class="col-lg-6 col-12">
            <select class="form-select mb-3 required" name="region">
              <option value="" selected>선택해주세요</option>
              <option value="수도권">수도권</option>
              <option value="대전충청">대전충청</option>
              <option value="춘천">춘천</option>
            </select>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-6 col-12">
            <p>수업 형태</p>
          </div>
          <div class="col-lg-6 col-12 d-flex gap-3">
            <div class="form-check">
              <input
                class="form-check-input mb-3"
                type="radio"
                name="frequency_type"
                id="once"
                value="once"
                checked
              />
              <label class="form-check-label" for="once">1회/캠프</label>
            </div>
            <div class="form-check">
              <input
                class="form-check-input mb-3"
                type="radio"
                name="frequency_type"
                id="multiple"
                value="multiple"
              />
              <label class="form-check-label" for="multiple"> 다회 </label>
            </div>
          </div>
        </div>

        <div class="row" style="display: none" id="frequency-container">
          <div class="col-lg-6 col-12">
            <p for="name">수업 횟수</p>
          </div>
          <div class="col-lg-6 col-12">
            <select
              class="form-select mb-3"
              id="frequency_count"
              name="frequency_count"
            >
              <option value="1" selected>선택해주세요</option>
              <option value="2">2회</option>
              <option value="3">3회</option>
              <option value="4">4회</option>
              <option value="5">5회 이상</option>
            </select>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-6 col-12">
            <p>학급 수</p>
          </div>
          <div class="col-lg-6 col-12">
            <select class="form-select mb-3 required" name="class_count">
              <option value="" selected>선택해주세요</option>
              <option value="1">1학급</option>
              <option value="2">2학급</option>
              <option value="3">3학급</option>
              <option value="4">4학급</option>
              <option value="5">5학급 이상</option>
            </select>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-6 col-12">
            <p for="name">신청자</p>
          </div>
          <div class="col-lg-6 col-12">
            <input
              type="text"
              class="form-control mb-3 required"
              id="name"
              name="name"
            />
          </div>
        </div>

        <div class="row">
          <div class="col-lg-6 col-12">
            <p for="email">이메일</p>
          </div>
          <div class="col">
            <input
              type="text"
              class="form-control mb-3 required"
              name="email_id"
            />
          </div>
          <div class="col-auto mb-3 px-0 pt-2">@</div>
          <div class="col">
            <input
              type="text"
              class="form-control mb-3"
              id="direct_domain"
              name="direct_domain"
              disabled
              style="display: none"
            />
            <select
              class="form-select mb-3 required"
              id="email_domain"
              name="email_domain"
            >
              <option value="" selected>선택해주세요</option>
              <option value="naver.com">naver.com</option>
              <option value="gmail.com">gmail.com</option>
              <option value="daum.net">daum.net</option>
              <option value="hanmail.net">hanmail.net</option>
              <option value="direct">직접입력</option>
            </select>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-6 col-12">
            <p for="phone">휴대폰 번호</p>
          </div>
          <div class="col">
            <input
              type="text"
              class="form-control mb-3 phone required"
              id="phone1"
              name="phone1"
              value="010"
              maxlength="3"
              inputmode="numeric"
            />
          </div>
          <div class="col-auto mb-3 px-0 pt-2">-</div>
          <div class="col">
            <input
              type="text"
              class="form-control mb-3 phone required"
              id="phone2"
              name="phone2"
              maxlength="4"
              inputmode="numeric"
            />
          </div>
          <div class="col-auto mb-3 px-0 pt-2">-</div>
          <div class="col">
            <input
              type="text"
              class="form-control mb-3 phone required"
              id="phone3"
              name="phone3"
              maxlength="4"
              inputmode="numeric"
            />
          </div>
        </div>
      </div>
      <div class="modal-footer justify-content-between">
        <button class="btn btn-danger" id="delete">삭제</button>
        <button class="btn btn-primary" id="save">저장</button>
      </div>
    </div>
  </div>
</div>

<script>
  const getSubjects = async () => {
    const data = await $.ajax({
      url: "/subjects/api/",
      method: "GET",
    });
    return data;
  };

  const getApplyHistory = async (id) => {
    const data = await $.ajax({
      url: id ? `/subjects/history/api/${id}/` : "/subjects/history/api/",
      method: "GET",
    });
    return data;
  };

  const deleteApplyHistory = async (id) => {
    const response = await $.ajax({
      url: `/subjects/history/api/${id}/`,
      method: "DELETE",
      headers: { "X-CSRFToken": "{{ csrf_token }}" },
    });
  };

  const updateApplyHistory = async (id, data) => {
    const response = await $.ajax({
      url: `/subjects/history/api/${id}/`,
      method: "PUT",
      headers: { "X-CSRFToken": "{{ csrf_token }}" },
      data: JSON.stringify(data),
      contentType: "application/json",
    });
  };

  const createApplyHistory = async (data) => {
    const response = await $.ajax({
      url: `/subjects/history/api/`,
      method: "POST",
      headers: { "X-CSRFToken": "{{ csrf_token }}" },
      data: JSON.stringify(data),
      contentType: "application/json",
    });
  };

  const renderApplyHistory = (data) => {
    const $tbody = $("tbody");
    $tbody.empty();

    data.forEach((apply) => {
      const $tr = $("<tr></tr>");

      $tr.data("id", apply.id);
      $tr.append(`
        <td>${apply.subject_title}</td>
        <td>${apply.region}</td>
        <td>${apply.frequency_type === "once" ? "1회/캠프" : "다회"}</td>
        <td>${apply.frequency_count}</td>
        <td>${apply.class_count}</td>
        <td>${apply.name}</td>
        <td>${apply.email}</td>
        <td>${apply.phone}</td>
      `);

      $tbody.append($tr);
    });
  };

  const openModal = async (id) => {
    $("#detail").data("id", id);
    const subjects = await getSubjects();
    const applyData = await getApplyHistory(id);

    const modal = new bootstrap.Modal($("#detail"));

    const $subjectSelect = $("select[name='subject']");
    $subjectSelect.empty();
    subjects.forEach((subject) => {
      $subjectSelect.append(
        `<option value="${subject.id}">${subject.title}</option>`
      );
    });

    if (!id) {
      $("select[name='subject']").val(subjects[0].id);
      $("input[name='subject_id']").val(subjects[0].id);
      $("input[name='subject_title']").val(subjects[0].title);
      $("#delete").css("visibility", "hidden");
      modal.show();
      return;
    }

    $("#delete").css("visibility", "visible");

    $subjectSelect.val(applyData.subject);
    $("input[name='subject_id']").val(applyData.subject);
    $("input[name='subject_title']").val(applyData.subject_title);

    $("select[name='region']").val(applyData.region);
    $(`input[name='frequency_type'][value='${applyData.frequency_type}']`).prop(
      "checked",
      true
    );
    if (applyData.frequency_type == "once") {
      $("#frequency-container").hide();
    } else {
      $("#frequency-container").show();
    }
    $("select[name='frequency_count']").val(applyData.frequency_count);

    $("select[name='class_count']").val(applyData.class_count);
    $("input[name='name']").val(applyData.name);

    const [emailId, emailDomain] = applyData.email.split("@");
    console.log(emailId, emailDomain);
    $("input[name='email_id']").val(emailId);

    const isIncluded = [
      "naver.com",
      "gmail.com",
      "daum.net",
      "hanmail.net",
    ].includes(emailDomain);

    if (isIncluded) {
      $("select[name='email_domain']").val(emailDomain);
    } else {
      $("select[name='email_domain']").val("direct");
      $("input[name='direct_domain']")
        .val(emailDomain)
        .show()
        .prop("disabled", false);
    }

    const [phone1, phone2, phone3] = applyData.phone.split("-");
    $("input[name='phone1']").val(phone1);
    $("input[name='phone2']").val(phone2);
    $("input[name='phone3']").val(phone3);

    modal.show();
  };

  const closeModal = () => {
    const modal = bootstrap.Modal.getInstance($("#detail"));
    modal.hide();
  };

  $(document).ready(async () => {
    const data = await getApplyHistory();
    renderApplyHistory(data);
  });

  $("tbody").on("click", "tr", function () {
    const id = $(this).data("id");
    $("#detail").data("method", "update");
    openModal(id);
  });

  $("select[name='subject']").on("change", function () {
    const selectedOption = $(this).find("option:selected");
    $("input[name='subject_id']").val(selectedOption.val());
    $("input[name='subject_title']").val(selectedOption.text());
  });

  $("input[name='frequency_type']").on("change", function () {
    const frequencyType = $(this).val();
    console.log(frequencyType);
    if (frequencyType == "once") {
      $("#frequency-container").hide();
    } else {
      $("#frequency-container").show();
    }

    $("select[name='frequency_count']").val(1);
  });

  $("select[name='email_domain']").on("change", function () {
    const domain = $(this).val();
    if (domain == "direct") {
      $("input[name='direct_domain']").show().prop("disabled", false);
    } else {
      $("input[name='direct_domain']").hide().prop("disabled", true).val("");
    }
  });

  $("#delete").on("click", async () => {
    const id = $("#detail").data("id");
    const ok = await deleteApplyHistory(id);
    console.log(111, ok);
    closeModal();
  });

  $("#save").on("click", async () => {
    const id = $("#detail").data("id");
    const data = {
      subject: $("input[name='subject_id']").val(),
      subject_title: $("input[name='subject_title']").val(),
      region: $("select[name='region']").val(),
      frequency_type: $("input[name='frequency_type']:checked").val(),
      frequency_count: $("select[name='frequency_count']").val(),
      class_count: $("select[name='class_count']").val(),
      name: $("input[name='name']").val(),
      email:
        $("input[name='email_id']").val() +
        "@" +
        ($("select[name='email_domain']").val() === "direct"
          ? $("input[name='direct_domain']").val()
          : $("select[name='email_domain']").val()),
      phone:
        $("input[name='phone1']").val() +
        "-" +
        $("input[name='phone2']").val() +
        "-" +
        $("input[name='phone3']").val(),
    };

    const method = $("#detail").data("method");
    if (method == "update") {
      await updateApplyHistory(id, data);
    } else {
      await createApplyHistory(data);
    }

    const updatedData = await getApplyHistory();
    renderApplyHistory(updatedData);

    closeModal();
  });

  $("input, select").on("input change", () => {
    let disabled = false;

    $(".required").each((index, element) => {
      if ($(element).val().trim() == "") {
        disabled = true;
        return;
      }
    });

    if ($("#multiple").is(":checked") && $("#frequency_count").val() == "1") {
      disabled = true;
    }

    if (
      $("#email_domain").val() == "direct" &&
      $("#direct_domain").val().trim() == ""
    ) {
      disabled = true;
    }

    $("#save").prop("disabled", disabled);
  });

  $("#add").on("click", () => {
    $("#detail").data("method", "create");
    openModal();
  });

  $("#detail").on("hidden.bs.modal", () => {
    $("#detail").data("id", "");
    $("#detail").data("method", "");
    $("select[name='subject']").val("");
    $("input[name='subject_id']").val("");
    $("input[name='subject_title']").val("");
    $("select[name='region']").val("");
    $("input[name='frequency_type'][value='once']").prop("checked", true);
    $("select[name='frequency_count']").val("1");
    $("#frequency-container").hide();
    $("select[name='class_count']").val("");
    $("input[name='name']").val("");
    $("input[name='email_id']").val("");
    $("input[name='direct_domain']").val("").hide().prop("disabled", true);
    $("select[name='email_domain']").val("");
    $("input[name='phone1']").val("010");
    $("input[name='phone2']").val("");
    $("input[name='phone3']").val("");

    $("#delete").css("visibility", "hidden");
    $("#save").prop("disabled", true);
  });
</script>
{% endblock %}
