<style>
  .card {
    transition: transform 0.3s;
  }
  .card:hover {
    transform: translateY(-8px) scale(1.03);
  }
</style>

{% extends 'base.html' %} {% block content %}
<h2>액티브러닝 프로그램</h2>
<p>
  우리학교 히어로들에겐 어떤 경험이 필요한가요? 관심있는 프로그램을 선택해
  수업을 신청하세요.
</p>

<div class="row my-5">
  {% for subject in subjects %}
  <div class="col-lg-4 col-6 mb-4" style="cursor: pointer">
    <a
      href="{% url 'subjects:detail' subject.id %}"
      class="text-decoration-none"
    >
      <div class="card shadow" data-id="{{ subject.id }}">
        <div
          class="d-flex justify-content-center align-items-center"
          style="width: 100%; aspect-ratio: 1 / 1"
        >
          <img
            src="/uploads/subjects/subject_{{ subject.id }}_img.jpg"
            class="square-img"
            alt="{{ subject.title }}"
            style="
              width: 60%;
              height: 60%;
              object-fit: cover;
              max-width: 160px;
              max-height: 160px;
            "
          />
        </div>
        <div class="card-body">
          <h5 class="card-title">{{ subject.title }}</h5>
          <p class="card-text">{{ subject.content }}</p>
        </div>
      </div>
    </a>
  </div>
  {% endfor %}
</div>
{% endblock %}
