{% extends 'base.html' %} {% block content %}
<h2>액티브러닝 프로그램</h2>
<p>
  우리학교 히어로들에겐 어떤 경험이 필요한가요? 관심있는 프로그램을 선택해
  수업을 신청하세요.
</p>

<!-- 반응형 고려 768px 이상은 2열로, 768px 이하는 1열로 -->
<!-- view에서 dummy 변수를 사용하여 카드 생성 -->
<div class="row">
  {% for lesson in lessons %}
  <div class="col-lg-4 col-6 mb-4">
    <div class="card" data-id="{{ lesson.id }}">
      <img
        src="{{ lesson.image }}"
        class="card-img-top"
        alt="{{ lesson.title }}"
      />
      <div class="card-body">
        <h5 class="card-title">{{ lesson.title }}</h5>
        <p class="card-text">{{ lesson.content }}</p>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock %}
